.addButtonContainer {
  margin-top: 20px;
}

.keyInput {
  width: 200px;
}

.equals {
  font-size: 16px;
  color: #666;
}

.valueInput {
  flex: 1;
}

.editableValue {
  cursor: pointer;
}

.editableValue:hover {
  color: #007bff;
  text-decoration: underline;
}
